{% extends 'base.html' %}

{% block content %}
    <!-- Правая колонка с основным контентом -->
    {% for task_group_name, task_group in tasks_groups.items %}
        <div class="col-md-4 mb-3">
            <h5 class="text-center">{{ task_group_name.0 }}</h5>
            {% for task in task_group %}
                <div class="card mb-3"
                     style="background-color: #e9ecef; border-color: #adb5bd;">
                    {% if task %}
                        <div class="card-body">
                            <form action="{% url 'change-status-task' %}" method="POST"
                                  class="mb-2">
                                {% csrf_token %}
                                <input type="hidden" name="id_task" value="{{ task.id }}">
                                <div class="input-group">
                                    <select name="new_status" class="form-select"
                                            onchange="this.form.submit()">
                                        <option value="" selected disabled>Поменять статус
                                        </option>
                                        {% for status, text in task.get_available_statuses.items %}
                                            <option value="{{ status }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <p class="mb-1"><strong>{{ task.label }}</strong> имеет статус:
                                <span class="badge bg-secondary">{{ task.get_status_display }}</span>
                            </p>

                            <p>
                            <div class="btn-group" role="group">
                                <!-- Кнопка "Изменить" -->
                                <a href="{% url 'task-update' task.slug %}" class="btn btn-sm btn-dark">
                                    Изменить
                                </a>

                                <!-- Кнопка "Удалить" -->
                                <a href="{% url 'task-delete' task.id %}" class="btn btn-sm btn-danger">
                                    Удалить
                                </a>
                            </div>
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
                <a class="btn btn-primary col-md-12"
                   href="{% url 'task-create' object.id %}?status={{ task_group_name.1 }}">Создать
                </a>
        </div>
    {% endfor %}
{% endblock %}