{% extends 'base.html' %}
{% block content %}
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <li class="warning">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <form class="col-md-12" method="post" action="{% url 'task-create' deck %}" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
       <input type="submit" value="Сохранить">
    </form>
{% endblock %}